.ticket-card {
    width: 350px;
    background: #fff;
    height:fit-content;
    border: 1px solid #eef0f2;
    border-radius: 8px;
    padding: 10px;
    margin: 3px;
    box-shadow: 0 4px 8px rgba(128, 128, 128,0.5);
    transition: transform 0.3s ease;
    margin-left: 0px;
    
  }
.ticket-id{
    color: #6b6f76;
    text-align: left;
    margin: 0px;
}
  
  .ticket-card:hover {
    transform: translateY(-5px);
  }
  
  .ticket-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: left;

  }
  
  .ticket-tag,
  .ticket-status,
  .ticket-priority,
  .ticket-user {
    font-size: 0.9rem;
    /* margin: 5px 0; */
    color: #6b6f76;
  }
  
  .ticket-priority {
    font-weight: normal;
    display: flex;
  }
  
  .priority-icon-box{
    
    
    border: 1px solid #eef0f2;
    
    width: fit-content;
    text-align: center;
    border-radius: 5px;
    display: flex;
    margin-right: 10px;
  }
  .priority-icon{
    margin: 4px;
    
    text-align: center;
    align-self: center;
    
  }
  .tag{
    border: 1px solid #eef0f2;
    
    width: fit-content;
    text-align: center;
    border-radius: 5px;
    display: flex;
    margin-top: 5px;

  }
  .ticket-tag{
    margin: 4px;
    
    text-align: center;
    align-self: center;
  }
  i{
    margin: 4px;
    
    text-align: center;
    align-self: center;
  }
  .box-1{
    display: flex;
  }
  .box-1 {
    display: flex;
     /* Aligns the image and title on the same line */
    gap: 8px; /* Adds space between the image and the title */
  }
  
  .status-box {
    display: flex;
    justify-content: center;
     /* Centers the icon with respect to the title */
  }
  
  .status-icon {
    width: 1.2rem; /* Matches the size of the ticket title */
    height: 1.2rem; /* Matches the size of the ticket title */
    margin-top: 7.5px;
  }
  
  .ticket-title {
    font-size: 1.2rem; /* Same font size as status icon */
    font-weight: bold;
    margin: 0;
    text-align: left;
    line-height: 1.2; /* Ensures the text is evenly spaced */
  }
  